
body{
  background-color: black;
  font-family: 'Inter', 'sans-serif';
}

.homepage{
  background-color: #8BB3C2;
}

.homepage-header{
  background-color: #F26B73;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.project-titles{
  margin-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  height: 150px;
}

.book-title{
  margin: 0;
  font-size: 37px;
  font-weight: 600;
}

.book-subtitle{
  font-size: 28.43px;
  font-weight: 500;
  margin: 0;
}


.table-of-contents-section{
  background-color: #8BB3C2;
  margin-top: 0;

}

.toc-nav{
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-items: center;
  padding: 50px 0px;
}

.parent-chapter-box{
  background-color: black;
  color: white;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transition: transform 250ms;
  cursor: pointer;
}

.parent-chapter-box:hover{
  transform: translateY(-5px);
  }

.number{
  font-size: 28.43px;
  margin-bottom: 0;
}

.chapter-title{
  text-align: center;
  width: 70%;
  margin: auto;
}


@media(max-width: 615px){
  header{
    height: 250px;
  }
}





.homepage-wrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.top-row{
    display: flex;
    justify-content: center;
}

.bottom-row{
    display: flex;
}

.square{
  background-color: white;
  width: 300px;
  margin: 30px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms;
  font-family: 'Inter', 'sans-serif';
  /* background-color: #28353a; */
}

.square:hover{
  transform: translateY(-5px);
}
.square p {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #a5191e;
  font-size: 28.43px;
}
.chapter-header{
  font-family: 'Inter', 'sans-serif';
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size:28.43px;
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
}
